brotli==1.0.9
brotlipy==0.7.0
ConfigParser==5.2.0
cryptography==3.4.7
Cython==0.29.23
dl==0.1.0
docutils==0.17
HTMLParser==0.0.2
importlib_metadata==3.10.0
keyring==22.3.0
lockfile==0.12.2
lxml==4.6.3
monotonic==1.6
numpy==1.21.5
ordereddict==1.1
protobuf==4.21.2
pyOpenSSL==22.0.0
tornado==6.1
wincertstore==0.2.1
xmlrpclib==1.0.1
zipp==3.4.1
